/*FONTS*/
@font-face{
  src: url("../fonts/Segoe UI Bold.woff");
  font-family: "sogoeuib";
}
@font-face{
  src: url("../fonts/Segoe UI Bold Italic.woff");
  font-family: "sogoebi";
}
@font-face{
  src: url("../fonts/Segoe UI Light.ttf");
  font-family: "sogoel";
}

/*GLOBAL CLASSES*/
html {
  overflow-y: scroll;
}

body{
  padding-left: 0 !important;
  padding-right: 0 !important;
  /*background: #1a1d20;*/
  background: url("../images/globe3.png") no-repeat center center fixed;
  background-size: cover;
  width: fit-content;
  --after-opacity: 0; /* Standaardwaarde */
  transition: background-image 1s ease-in-out;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/globe6a.png") no-repeat center fixed;
  background-size: cover;
  transition: opacity 1s ease-in-out;
  opacity: var(--after-opacity);
  z-index: -1;
}

.form-check-input:hover, .form-check-label:hover {
  cursor: pointer;
}
/*FROM HERE WE WORK MOBILE ORIENTED*/
/*BEGIN NAVBAR*/

/*END NAVBAR*/
#navbar{
  span{
    font-family: sogoebi, serif;
    font-size: 40px;
  }
}

#continentSelect {
  color: #9ab3da;
}

/*BEGIN QUIZ*/
#result {
  background-color: rgba(0, 0, 0, 0)!important;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.flag-img {
  transition: transform 0.3s ease; /* Voegt een soepele overgang toe */
  margin-bottom: 30px;
  margin-top: 10px;
  width: 150px;  /* of elke gewenste breedte */
  height: 100px; /* of elke gewenste hoogte */
  object-fit: contain; /* Dit zorgt ervoor dat de afbeelding geschaald wordt binnen de gegeven afmetingen zonder de verhoudingen te verstoren */
}

.flag-img:hover {
  transform: scale(1.1); /* Vergroot de vlag naar 110% van zijn grootte */
  animation: ease-in-out;
}

#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Zorgt voor gelijkmatige ruimte tussen de cards */
}

.flag-container {
  width: 100%;
  padding-top: 56.25%; /* Verhouding van 16:9 */
  position: relative;
}

.flag-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Rest van de kaart-stijlen blijven hetzelfde */


.card.country-card {
  width: 30%; /* Breedte van de card aanpassen */
  height: 320px; /* Vaste hoogte voor alle cards */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0); /* Achtergrond met 50% transparantie */
  overflow: hidden; /* Voorkomt dat de inhoud buiten de kaart stroomt */
}

.card-img-container {
  width: 100%;
  height: 60%; /* Hoogte voor de afbeelding container */
  position: relative;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  height: 10%; /* Hoogte voor het onderste deel van de kaart */

  overflow-y: auto; /* Voegt scroll toe indien nodig */
  padding: 15px;
}

.form-check {
  margin-bottom: 10px;
}


.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
.green{
  background: #178fa2;
  color: white;
}

/*END QUIZ*/

/*BEGIN SCOREBOARD*/
#highScoreBoard{
  font-weight: normal;
}
/*END SCOREBOARD*/

/*START TIME*/
#timerDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin: 0 0 0 0;

}
/*END TIME*/

/*START ANIMATIONS*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 2s ease-in forwards;
}
.fade-in-later {
  animation: fadeIn 1s ease-in 1s forwards; /* Begint na een vertraging van 2 seconden */
}

.jello-horizontal2 {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  animation-delay: 1s;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes typewriter {
  from {width: 0;}
  to {width: 100%;}
}
.typingeffect{
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 0.5s steps(40, end) forwards ;
  border-right: 1px solid #192126;
  width: 0;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}



.pulse {
  animation: pulse-animation 2s infinite;

}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgb(23, 142, 161);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.card.country-card {
  /* andere stijlen */
  box-shadow: none; /* Dit verwijdert de schaduw */
}

/*END ANIMATIONS*/

/*FROM HERE WE WORK DESKTOP ORIENTED W/ MEDIA QUERY'S*/
@media (min-width: 992px){
  .master{
    display:none
  }
}

/* Standaard stijlen voor kaarten en containers */
#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card.country-card {
  width: 30%; /* Breedte op grotere schermen */
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Stack flag and body vertically */
}

.flag-container {
  width: 100%;
  padding-top: 70%; /* Verhouding voor de vlag */
  position: relative;
}

.flag-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  flex-grow: 1; /* Laat de body groeien om resterende ruimte te vullen */
}

.form-check {
  margin-bottom: 10px;
  color: #fae6bd;
}

/* Media query voor mobiele apparaten */
@media (max-width: 768px) {
  .card.country-card {
    width: 100%; /* Kaarten nemen de volledige breedte van het scherm in */
    margin: 10px 0; /* Marges alleen boven en onder */
  }
  #checkAnswersButton{
    width: 200px;
  }

  .flag-container {
    padding-top: 50%; /* Aangepaste verhouding voor mobiele apparaten */
    width: 100%;
    position: relative;
  }

  .flag-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form-check {
    font-size: 0.9em; /* Kleinere tekstgrootte voor radio buttons */
  }
}


/* Media query voor mobiele apparaten */
@media (max-width: 368px) {
  .card.country-card {
    width: 100%; /* Kaarten nemen de volledige breedte van het scherm in */
    margin: 10px 0; /* Marges alleen boven en onder */
  }
  #checkAnswersButton{

    width: 200px;
  }

  .flag-container {
    padding-top: 50%; /* Aangepaste verhouding voor mobiele apparaten */
    width: 100%;
    position: relative;
  }

  .flag-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form-check {
    font-size: 0.9em; /* Kleinere tekstgrootte voor radio buttons */
  }
}